body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #0066ff;
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav {
  background-color: #0044aa;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #0055cc;
}

main {
  padding: 20px;
}

section {
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

section h2 {
  color: #0066ff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #0066ff;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

form {
  flex-direction: column;
  gap: 10px;
}

input[type="email"] {
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.botao-comprar {
  background-color: #0066ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;

}

aside {
  background-color: #e6ecff;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
}

aside h3 {
  color: #0044aa;
}

footer {
  background-color: #0044aa;
  color: white;
  text-align: center;
  padding: 10px 0;
}